@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 140 70% 10%;
    --foreground: 0 0% 98%;
    --card: 140 60% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 140 70% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 130 80% 50%;
    --primary-foreground: 140 70% 10%;
    --secondary: 140 50% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 140 50% 20%;
    --muted-foreground: 0 0% 60%;
    --accent: 0 72% 51%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 140 50% 30%;
    --input: 140 50% 30%;
    --ring: 130 80% 50%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 140 70% 10%;
    --foreground: 0 0% 98%;
    --card: 140 60% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 140 70% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 130 80% 50%;
    --primary-foreground: 140 70% 10%;
    --secondary: 140 50% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 140 50% 20%;
    --muted-foreground: 0 0% 60%;
    --accent: 0 72% 51%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 140 50% 30%;
    --input: 140 50% 30%;
    --ring: 130 80% 70%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  ::selection {
    @apply bg-primary/20;
  }
  h1,h2,h3,h4,h5,h6 {
    @apply font-headline;
  }
}
